<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid" style="margin-left: 10px;">
            <a class="navbar-brand" href="#">СФ БашГУ</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                    aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbar1" style="margin-left:114px;">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item {% if request.resolver_match.url_name == "dashboard" %} active {% endif %}">
                        <a class="nav-link" href="{% url "dashboard" %}">Главная</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == "clients" %} active {% endif %}">
                        <a class="nav-link" href="{% url "clients" %}">Клиенты</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == "points" %} active {% endif %}">
                        <a class="nav-link" href="{% url "points" %}">Точки доступа</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == "report" %} active {% endif %}">
                        <a class="nav-link" href="{% url "report" %}">Отчёт</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger">Выход</a>
            </div>
        </div>
    </nav>
</div>