.body{
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.navbar {
    padding: 0
}

/* убираем стандартные отступы */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600
}

/* меняем цвет ссылок в меню и толщину шрифта */
li.nav-item.active, li.nav-item:hover, li.nav-item:focus {
    background-color: #007bff
}

/* делаем заливку для активного этлемента и элементов при наведении */
.dropdown-toggle, .dropdown-toggle:active {
    color: #fff;
    font-weight: 600
}

li.dropdown-item:visited, li.dropdown-item:active, li.dropdown-item:hover, li.dropdown-item:focus {
    background-color: #007bff
}

.dropdown-item {
    font-family: "Lucida Console", serif
}
/*Убираем боковые отступы в шапке*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.center-panel{
    width: 800px;
    margin-left: 500px;
    padding: 10px 0px 10px;
}

h5{

}