{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'captive/css/style.css' %}">

    <script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'captive/js/ChilliLibrary.js' %}"></script>

    <!--suppress NonAsciiCharacters -->
    <script>
        function onUpdate(cmd) {
            if (chilliController.clientState === 1) {
                window.location.replace("{% url 'successful_connect' %}");
            } else {
                alert("Авторизация не удалась!")
            }
        }

        chilliController.host = "192.168.182.1";
        chilliController.onUpdate = onUpdate;

        function onClientAuth() {
            var name = document.getElementById("name").value;
            var password = document.getElementById("password").value;

            chilliController.logon(rus_to_latin(name), rus_to_latin(password));
        }

        var isCodeSent = false;

        function onSMSAuth() {
            var tel = document.getElementById("telephone").value;

            if (!isCodeSent) {
                if (tel.length < 10) {
                    return;
                }

                var data = new FormData();
                data.append('telephone', tel);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'code', true);
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                xhr.onload = function () {
                    document.getElementById("tel-group").style.display = 'none';
                    document.getElementById("code-group").style.display = 'flex';

                    document.getElementById("code-submit").innerText = 'Подключиться';

                    isCodeSent = true;
                };
                xhr.send(data);
            } else {
                if (tel.length < 6) {
                    return;
                }

                var code = document.getElementById("code").value;

                chilliController.logon(tel, code);
            }
        }

        function rus_to_latin(str) {
            var ru = {
                'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd',
                'е': 'e', 'ё': 'e', 'ж': 'j', 'з': 'z', 'и': 'i',
                'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n', 'о': 'o',
                'п': 'p', 'р': 'r', 'с': 's', 'т': 't', 'у': 'u',
                'ф': 'f', 'х': 'h', 'ц': 'c', 'ч': 'ch', 'ш': 'sh',
                'щ': 'shch', 'ы': 'y', 'э': 'e', 'ю': 'u', 'я': 'ya', ' ': ''
            }, n_str = [];

            str = str.replace(/[ъь]+/g, '').replace(/й/g, 'i');

            for (var i = 0; i < str.length; ++i) {
                n_str.push(
                    ru[str[i]]
                    || ru[str[i].toLowerCase()] === undefined && str[i]
                    || ru[str[i].toLowerCase()].replace(/^(.)/, function (match) {
                        return match.toUpperCase()
                    })
                );
            }

            return n_str.join('');
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>

<body class="login-page" style="background: url({% static 'captive/img/frost2.jpg' %}) ;">


<main>
    <div class="login-block" id="login_block">
        <img src="{% static 'captive/img/new21.png' %}" alt="Scanfcode" class="img-responsive center-block"
             style="width: 100%;">

        {#        <ul class="nav nav-pills nav-fill" style="margin-top: 20px" id="pills-tab" role="tablist">#}
        {#            <li class="nav-item">#}
        {#                <a class="nav-link active" id="pills-student-tab" data-toggle="pill" href="#pills-student" role="tab"#}
        {#                   aria-controls="pills-student" aria-selected="true">Для студентов</a>#}
        {#            </li>#}
        {#            <li class="nav-item">#}
        {#                <a class="nav-link" id="pills-sms-tab" data-toggle="pill" href="#pills-sms" role="tab"#}
        {#                   aria-controls="pills-sms" aria-selected="false">По СМС</a>#}
        {#            </li>#}
        {#        </ul>#}
        <h2 class="nav-link active" id="pills-student-tab" data-toggle="pill" href="#pills-student" role="tab"
            aria-controls="pills-student" aria-selected="true">Авторизация</h2>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-student" role="tabpanel"
                 aria-labelledby="pills-student-tab">
                <div class="form-group">
                    <div class="input-group">
                        <span><img src="{% static 'captive/img/user.png' %}" height="30px" width="35px"></span>
                        <input type="text" class="form-control" placeholder="ФИО" id="name">
                    </div>
                </div>

                <hr class="hr-xs">

                <div class="form-group">
                    <div class="input-group">
                        <span><img src="{% static 'captive/img/password.png' %}" height="30px" width="35px"></span>
                        <input id="password" type="password" class="form-control" placeholder="Пароль">
                    </div>
                </div>

                <button class="btn btn-primary btn-lg" onclick="onClientAuth();">Подключиться</button>

                <div class="form-group">
                    <a href="sendfeedback">Обратная связь</a>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-sms" role="tabpanel" aria-labelledby="pills-sms-tab">
                <div class="form-group">
                    <div id="tel-group" class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">+7</span>
                        </div>
                        <input type="tel" class="form-control" placeholder="9999999999" maxlength="10" id="telephone">
                    </div>

                    <div id="code-group" class="input-group" style="display: none">
                        <span><img src="{% static 'captive/img/password.png' %}" height="30px" width="30px"></span>
                        <input type="text" class="form-control" placeholder="Код" maxlength="6" id="code">
                    </div>
                </div>

                <button id="code-submit" class="btn btn-primary btn-lg" onclick="onSMSAuth();">Отправить код</button>

                <div class="form-group">
                    <a href="{% url 'feedback_create_url' %}">Обратная связь</a>
                </div>
            </div>
        </div>
    </div>
    <div class="support" style="margin-top: 10px">
        <div class="down-panel fade show active" id="pills-student" role="tabpanel">
            <p>Для подключение введите фамилию с инициалами:</p>
            <p1>"ИвановИИ" или "Петров Иван Макс"</p1>
        </div>
    </div>
</main>
</body>
</html>
