{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'captive/css/sendfeedback.css' %}">

    <script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'captive/js/ChilliLibrary.js' %}"></script>

    <!--suppress NonAsciiCharacters -->

</head>

<body class="login-page" style="background: url({% static 'captive/img/frost2.jpg' %}) ;">
<main>
    <div class="login-block" id="login_block">
        <img src="{% static 'captive/img/new21.png' %}" alt="Scanfcode" class="img-responsive center-block"
             style="width: 100%;">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Введите текст</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <h1>Hi</h1>
    </div>
</main>
</body>
</html>
