{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Обратная связь{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'captive/css/sendfeedback.css' %}">
{% endblock %}

{% block content %}
<div class="contact-section">
    <h1>Отзыв</h1>
    <div class="border"></div>
    <form class="contact-form" action="{% url 'feedback_create_url' %}" method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.telephone }}
        {{ form.title }}
        {{ form.description }}

        <input type="submit" class="contact-form-btn" value="Отправить">
    </form>
</div>

{% endblock %}
