{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'captive/css/sendfeedback.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'captive/js/ChilliLibrary.js' %}"></script>
    <!--suppress NonAsciiCharacters -->
</head>

<body >

<div class="contact-section">

    <h1>Отзыв</h1>
    <div class="border"></div>
    <form class="contact-form" action="sendfeedback.html" method="post">
        <input type="text" class="contact-form-text" placeholder="ФИО">
        <input type="telephone" class="contact-form-text" placeholder="Номер телефона">
        <input type="text" class="contact-form-text" placeholder="Заголовок">
        <textarea class="contact-form-text" placeholder="Ваше сообщение"></textarea>
        <input type="submit" class="contact-form-btn" value="Отправить">
        <a href="">Вернуться назад</a>
    </form>
</div>

</body>
</html>
