{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'captive/css/style.css' %}">

    <script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}"></script>

    <title>Успешная авторизация</title>
</head>
<body class="login-page" style="background: url({% static 'captive/img/frost2.jpg' %}) ;">

<main>
    <div class="login-block" id="login_block">
        <img src="{% static 'captive/img/new21.png' %}" alt="Scanfcode" class="img-responsive center-block"
             style="width: 100%;">
        <h1>Поздравляем, вы подключены!</h1>
        <div class="form-group">
            <button class="btn btn-primary btn-lg"
                    onClick='location.href="http://strbsu.ru/"'>Перейти на сайт СФ БГУ
            </button>
            <hr class="hr-xs">
            <button class="btn btn-primary btn-lg"
                    onClick='location.href="http://edu.strbsu.ru/"'>Узнать расписание
            </button>
            <hr class="hr-xs">
            <div class="form-group">
                <a href="{% url 'feedback_create_url' %}">Обратная связь</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
