{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{{ client.fullname }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/client.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">

                    <h3>Данные пользователя:</h3>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Фамилия:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="lastname" value="{{ client.lastname }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Имя:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="firstname" value="{{ client.firstname }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Отчество:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="patronymic" value="{{ client.patronymic }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Факультет:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="faculty" value="{{ client.faculty.name }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Телефон:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="telephone" value="{{ client.telephone }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Username:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="username" value="{{ client.username }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Номер зачетной:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="username" value="{{ client.get_password }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Статус:</span></h4>
                        <div class="card-body">
                            <input type="email" class="form-control" id="status" value="{{ client.status }}" disabled>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-10">
                <div class="panel">
                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Трафик</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">За Сегодня</th>
                                <th scope="col">За неделю</th>
                                <th scope="col">За месяц</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ day_traffic.download }} МБ / {{ day_traffic.upload }} МБ</td>
                                <td>{{ week_traffic.download }} МБ / {{ week_traffic.upload }} МБ</td>
                                <td>{{ month_traffic.download }} МБ / {{ month_traffic.upload }} МБ</td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Время в сети</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">За Сегодня</th>
                                <th scope="col">За неделю</th>
                                <th scope="col">За месяц</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ day_time.time }} минут</td>
                                <td>{{ week_time.time }} минут</td>
                                <td>{{ month_time.time }} минут</td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Последние 10 сеансов</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Время начала</th>
                                <th scope="col">Время конца</th>
                                <th scope="col">Роутер</th>
                                <th scope="col">Трафик</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for session in client.get_last_10_sessions %}
                                <tr>
                                    <td><a href="{% url 'session' session.id %}">{{ session.get_start_time }}</a></td>
                                    <td>{{ session.get_end_time }}</td>
                                    <td>{{ session.get_router }}</td>
                                    <td>{{ session.get_traffic }} МБ</td>
                                    <td>{{ session.get_status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
