{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{{ client.fullname }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/client.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">

                    <div class="card bg-light">
                        <div class="card-header">Данные пользователя:</div>
                        <div class="card-body">
                            <h6 class="card-title">Username:</h6>
                            <p class="card-text">{{ client.username }}</p>
                            <hr>

                            <h6 class="card-title">Фамилия:</h6>
                            <p class="card-text">{{ client.lastname }}</p>
                            <hr>

                            <h6 class="card-title">Имя:</h6>
                            <p class="card-text">{{ client.firstname }}</p>
                            <hr>

                            <h6 class="card-title">Отчество:</h6>
                            <p class="card-text">{{ client.patronymic }}</p>
                            <hr>

                            <h6 class="card-title">Факультет:</h6>
                            <p class="card-text">{{ client.faculty.name }}</p>
                            <hr>

                            <h6 class="card-title">Номер зачётной:</h6>
                            <p class="card-text">{{ client.get_password }}</p>

                            <h6 class="card-title">Статус:</h6>
                            <p class="card-text">{{ client.status }}</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-10">
                <div class="panel">
                    <div class="w-100 p-3" style="">
                        <h3>Трафик</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">За Сегодня</th>
                                <th scope="col">За неделю</th>
                                <th scope="col">За месяц</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ day_traffic.download|default_if_none:0 }} МБ
                                    / {{ day_traffic.upload|default_if_none:0 }} МБ
                                </td>
                                <td>{{ week_traffic.download|default_if_none:0 }} МБ
                                    / {{ week_traffic.upload|default_if_none:0 }} МБ
                                </td>
                                <td>{{ month_traffic.download|default_if_none:0 }} МБ
                                    / {{ month_traffic.upload|default_if_none:0 }} МБ
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Время в сети</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">За Сегодня</th>
                                <th scope="col">За неделю</th>
                                <th scope="col">За месяц</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ day_time.time|default_if_none:0 }} минут</td>
                                <td>{{ week_time.time|default_if_none:0 }} минут</td>
                                <td>{{ month_time.time|default_if_none:0 }} минут</td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Последние 10 сеансов</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Время начала</th>
                                <th scope="col">Время конца</th>
                                <th scope="col">Роутер</th>
                                <th scope="col">Трафик</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for session in client.get_last_10_sessions %}
                                <tr>
                                    <td><a href="{% url 'session' session.id %}">{{ session.get_start_time }}</a></td>
                                    <td>{{ session.get_end_time }}</td>
                                    <td><a href="{% url "point" session.get_router.id %}">{{ session.get_router }}</a>
                                    </td>
                                    <td>{{ session.get_traffic|default_if_none:0 }} МБ</td>
                                    <td>{{ session.get_status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
