{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">

                    <div class="card bg-light">
                        <div class="card-header">Статистика:</div>
                        <div class="card-body">
                            <h6 class="card-title">Трафик за сегодня:</h6>
                            <p class="card-text">{{ day_traffic.download|default_if_none:0 }} МБ
                                / {{ day_traffic.upload|default_if_none:0 }} МБ</p>
                            <hr>

                            <h6 class="card-title">Трафик за неделю:</h6>
                            <p class="card-text">{{ week_traffic.download|default_if_none:0 }} МБ
                                / {{ week_traffic.upload|default_if_none:0 }} МБ</p>
                            <hr>

                            <h6 class="card-title">Трафик за месяц:</h6>
                            <p class="card-text">{{ month_traffic.download|default_if_none:0 }} МБ
                                / {{ month_traffic.upload|default_if_none:0 }} МБ</p>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-10">
                <div class="panel">

                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Топ 10 клиентов по трафику за месяц:</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Клиент</th>
                                <th scope="col">Факультет</th>
                                <th scope="col">Трафик</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in top_clients %}
                                <tr>
                                    <td><a href="{% url 'client' client.obj.id %}">{{ client.obj.fullname }}</a></td>
                                    <td>{{ client.obj.faculty|default_if_none:"" }}</td>
                                    <td>{{ client.traffic|default_if_none:0 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Топ 10 точек по трафику за месяц:</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Точка доступа</th>
                                <th scope="col">Корпус</th>
                                <th scope="col">Трафик</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for point in top_points %}
                                <tr>
                                    <td><a href="{% url "point" point.obj.id %}">{{ point.obj.name }}</a></td>
                                    <td>{{ point.obj.building }}</td>
                                    <td>{{ point.traffic|default_if_none:0 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
