{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Обратная связь{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/feedback_list.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="center-panel">
        {% for feedback in feedbacks %}

            <div class="card">
                <div class="card-header">
                    <h5>{{ feedback.date_pub }} | Автор: {{ feedback.username }}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ feedback.title }}</h5>
                    <p class="card-text">{{ feedback.description|truncatewords:100 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

