{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Роутера{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/nas.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">
                    <h2>Данные роутера:</h2>
                    <div class="form-group">
                        <label for="lastname">Название</label>
                        <input type="email" class="form-control" id="name" value="{{ nas.name }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="firstname">IP</label>
                        <input type="email" class="form-control" id="firstname" value="{{ nas.ip }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="patronymic">Тип</label>
                        <input type="email" class="form-control" id="patronymic" value="{{ nas.type }}"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="faculty">Секрет</label>
                        <input type="email" class="form-control" id="faculty" value="{{ nas.secret }}"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="telephone">Сервер</label>
                        <input type="email" class="form-control" id="telephone" value="{{ nas.server }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="username">Корпус</label>
                        <input type="email" class="form-control" id="username" value="{{ nas.building }}" disabled>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="panel">
                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Трафик</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">За Сегодня</th>
                                <th scope="col">За неделю</th>
                                <th scope="col">За месяц</th>
                                <th scope="col">За все время</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>10</td>
                                <td>100</td>
                                <td>500</td>
                                <td>561351351</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
