{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Факультеты{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/point.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">
                    <h2>Корпус:</h2>
                    <div class="content">
                          {% for building in building_list %}
                              <p><a href="{% url "point" %}?building_id={{ building.id }}">{{ building.name }}</a></p>
                              <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                          {% empty %}
                              <p>Нет корпусов</p>
                          {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="w-100 p-3" style="background-color: #eee;">
                {% if nas_list is not None %}
                    <h3>Список роутеров</h3>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">IP</th>
                            <th scope="col">Type</th>
                            <th scope="col">Сервер</th>
                            <th scope="col">Корпус</th>
                        </tr>
                        </thead>
                        <tbody>
                {% for nas in nas_list %}

                        <tr>
                          <th scope="row"><a href="{% url "nas" nas.id %}">{{ nas.id }}</a></th>
                            <td>{{ nas.name }}</td>
                            <td>{{ nas.ip }}</td>
                            <td>{{ nas.type }}</td>
                            <td>{{ nas.server }}</td>
                            <td>{{ nas.building }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <h3>Выберите корпус</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
