{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Точка доступа{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'panel/css/nas.css' %}">
{% endblock %}

{% block content %}
{% include 'layout/menu.html' %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-2" style="padding-left: 15px">
            <div class="left-panel">

                <h3>Данные точки доступа:</h3>
                <div class="card" style="width: auto;">
                    <h4><span class="badge badge-warning">Название:</span></h4>
                    <div class="card-body">
                        <input type="text" class="form-control" id="name" value="{{ nas.name }}" disabled>
                    </div>
                </div>
                <div class="card" style="width: auto;">
                    <h4><span class="badge badge-warning">IP:</span></h4>
                    <div class="card-body">
                        <input type="text" class="form-control" id="ip" value="{{ nas.ip }}" disabled>
                    </div>
                </div>
                <div class="card" style="width: auto;">
                    <h4><span class="badge badge-warning">Тип:</span></h4>
                    <div class="card-body">
                        <input type="text" class="form-control" id="type" value="{{ nas.type }}" disabled>
                    </div>
                </div>
                <div class="card" style="width: auto;">
                    <h4><span class="badge badge-warning">Secret:</span></h4>
                    <div class="card-body">
                        <input type="text" class="form-control" id="secret" value="{{ nas.secret }}" disabled>
                    </div>
                </div>
                <div class="card" style="width: auto;">
                    <h4><span class="badge badge-warning">MAC:</span></h4>
                    <div class="card-body">
                        <input type="text" class="form-control" id="mac" value="{{ nas.mac }}" disabled>
                    </div>
                </div>
                <div class="card" style="width: auto;">
                    <h4><span class="badge badge-warning">Корпус</span></h4>
                    <div class="card-body">
                        <input type="text" class="form-control" id="building" value="{{ nas.building }}" disabled>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-10">
            <div class="panel">
                <div class="w-100 p-3" style="background-color: #eee;">
                    <h3>Трафик</h3>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">За Сегодня</th>
                            <th scope="col">За неделю</th>
                            <th scope="col">За месяц</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ day_traffic.download }} МБ / {{ day_traffic.upload }} МБ</td>
                            <td>{{ week_traffic.download }} МБ / {{ week_traffic.upload }} МБ</td>
                            <td>{{ month_traffic.download }} МБ / {{ month_traffic.upload }} МБ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
