{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Сессия{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/client.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">

                    <div class="card bg-light mb-3">
                        <div class="card-header">Данные сессии:</div>
                        <div class="card-body">
                            <h6 class="card-title">Клиент:</h6>
                            <p class="card-text">
                                <a href="{% url "client" session.get_client.id %}">
                                    {{ session.get_client.fullname }}
                                </a>
                            </p>
                            <hr>

                            <h6 class="card-title">Дата начала:</h6>
                            <p class="card-text">{{ session.get_start_time }}</p>
                            <hr>

                            <h6 class="card-title">Дата окончания:</h6>
                            <p class="card-text">{{ session.get_end_time }}</p>
                            <hr>

                            <h6 class="card-title">Роутер:</h6>
                            <p class="card-text"><a
                                    href="{% url "point" session.get_router.id %}">{{ session.get_router }}</a></p>
                            <hr>

                            <h6 class="card-title">Трафик:</h6>
                            <p class="card-text">{{ session.get_traffic }} МБ</p>
                            <hr>

                            <h6 class="card-title">MAC:</h6>
                            <p class="card-text">
                                <a target="_blank"
                                   href="https://www.networkcenter.info/inform/mac?addr={{ session.callingstationid }}">
                                    {{ session.callingstationid }}
                                </a>
                            </p>
                            <hr>

                            <h6 class="card-title">Статус:</h6>
                            <p class="card-text">{{ session.get_status }}</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-10">
                <div class="panel">
                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Соединения</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Время</th>
                                <th scope="col">IP получателя</th>
                                <th scope="col">Порт назначения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for flow in flows %}
                                <tr>
                                    <td>{{ flow.get_time }}</td>
                                    <td><a target="_blank"
                                           href="https://ru.infobyip.com/ip-{{ flow.dstaddr }}.html">{{ flow.dstaddr }}</a>
                                    </td>
                                    <td>{{ flow.dstport }}/{{ flow.get_protocol }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <nav aria-label="Flow navigation">
                            <ul class="pagination">
                                {% if flows.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ flows.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Предыдущая страница</span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for flow_page in flows.paginator.page_range %}
                                    <li class="page-item {% if flow_page == flows.number %} active {% endif %}"><a
                                            class="page-link" href="?page={{ flow_page }}">{{ flow_page }}</a></li>
                                {% endfor %}

                                {% if flows.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ flows.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Следующая страница</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
