{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Сессия{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/client.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">

                    <h3>Данные сессии:</h3>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">ФИО:</span></h4>
                        <div class="card-body">
                            <input type="text" class="form-control" id="fullname"
                                   value="{{ session.get_client.fullname }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Время начала:</span></h4>
                        <div class="card-body">
                            <input type="text" class="form-control" id="faculty" value="{{ session.get_start_time }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Время конца:</span></h4>
                        <div class="card-body">
                            <input type="text" class="form-control" id="telephone" value="{{ session.get_end_time }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Роутер:</span></h4>
                        <div class="card-body">
                            <input type="text" class="form-control" id="username" value="{{ session.get_router }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Трафик:</span></h4>
                        <div class="card-body">
                            <input type="text" class="form-control" id="username" value="{{ session.get_traffic }} МБ"
                                   disabled>
                        </div>
                    </div>
                    <div class="card" style="width: auto;">
                        <h4><span class="badge badge-warning">Статус:</span></h4>
                        <div class="card-body">
                            <input type="text" class="form-control" id="status" value="{{ session.get_status }}"
                                   disabled>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-10">
                <div class="panel">
                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Соединения</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Время</th>
                                <th scope="col">IP получателя</th>
                                <th scope="col">Порт назначения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for flow in session.get_flows %}
                                <tr>
                                    <td>{{ flow.get_time }}</td>
                                    <td>{{ flow.dstaddr }}</td>
                                    <td>{{ flow.dstport }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
