{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Факультеты{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'panel/css/users.css' %}">
{% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2" style="padding-left: 15px">
                <div class="left-panel">
                    <h2>Факультеты:</h2>
                    <div class="content">
                        <p><a href="">Факультет Математики и Информационных Технологий</a></p>
                        <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                        <p><a href="">Естественнонаучный факультет</a></p>
                        <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                        <p><a href="">Факультет башкирской и тюркской филологии</a></p>
                        <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                        <p><a href="">Факультет педагогики и психологии</a></p>
                        <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                        <p><a href="">Филологический факультет</a></p>
                        <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                        <p><a href="">Экономический факультет</a></p>
                        <hr style="background-color: #5a80a8; height: 1px; border: medium none; width:90%">
                        <p><a href="">Юридический факультет</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="panel">
                    <div class="w-100 p-3" style="background-color: #eee;">
                        <h3>Список пользователей факультета:</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Зачетная книжка</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Виктор</td>
                                <td>Плис</td>
                                <td>2А431длр4</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Владимир</td>
                                <td>Китанин</td>
                                <td>23иол53р4</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}